<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/boot.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>

    <script src="/scripts/main.js"></script>
  </head>
  <body class="se">


    <div class="se-layout">

        <div class="se-header">
          <div class="se-header__logo">
            <span>CRUISE BOOKING</span>
            <%- include('../icon', {icon: 'ship', className: 'se-header__ship'}); %>
          </div>
        </div>





        <div class="se-content -inner">
          <div class="se-search">
            <form>
              <input class="se-header__location" type="text" name="location" placeholder="Destination" />
              <input class="search-form__date" type="text" name="date" placeholder="Date" />
              <input type="submit" name="submit" value="Search" />
            </form>
          </div>





          <h1>Thank you!</h1>

        </div>


    <div>




  </body>
</html>
